doctype html
html
  head
    meta(charset="UTF-8")
    title 管理者ページ
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 管理者ページ

    ul
      li: a(href="/admin/bookmarks") しおり管理
      li: a(href="/admin/bookmarks/new") しおり追加
      li: a(href="/admin/tags") タグ管理
      li: a(href="/admin/tags/new") タグ追加
